header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#timer {
  padding: 1rem;
  margin-bottom: 1rem;
}

#timer h2 {
  font-size: 3rem;
  font-weight: bold;
}

#buttons {
  margin-bottom: 1rem;
}

#inputs {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  margin-bottom: 1rem;
}
